StackLayout
    StackLayout.background-blue(height="60", orientation="horizontal", padding="5", verticalAlignment="center")
        Image(height="30" width="100%" src="~/assets/img/logoicon.png")

    StackLayout.background-blue(orientation="vertical", horizontalAlignment="center")
        Image.img-rounded([src]="order.worker.image", heigth="90", marginTop="20", width="90")
        Label.white-text([text]="order.worker.name", horizontalAlignment="center")
        Label.large-text.white-text(*ngIf="order.success", text="Transacción Exitosa" horizontalAlignment="center")
        
        GridLayout(rows="auto,auto,auto,auto", columns="*,*", padding="60")
            Label.white-text(col="0", row="0", text="Servicio:")
            Label.white-text(col="0", row="1", text="Costo:")
            Label.white-text(col="0", row="2", text="Orden:")
            Label.white-text(col="0", row="3", text="Fecha:")
            Label.white-text(col="1", row="0", [text]="order.name")
            Label.white-text(col="1", row="1", [text]="'$' + order.price")
            Label.white-text(col="1", row="2", [text]="order.id")
            Label.white-text(col="1", row="3", [text]="order.date")
        Label.white-text.bold(text="Evalúa a este UBird", horizontalAlignment="center")
        StarRating(emptyBorderColor="white",
            emptyColor="white",
            filledBorderColor="white",
            filledColor="#70efe6",
            value=0,
            min=0,
            max=5,
            width="59%",
            isindicator="false")

        StackLayout(orientation="vertical")
            Label.white-text(text="Método de pago")
            StackLayout(orientation="horizontal")
                Image([src]="paymentMethod.icon", width="20")
                Label([text]="'**** **** **** ' + payment.last_four") 
    StackLayout.background-blue(height="100%", verticalAlignment="bottom")
        Button.borderless-button.white-text(text="Continuar", (tap)="home()")
                
              

