doctype html
ScrollView
    StackLayout()
        StackLayout.purplebackground.top-line(padding="10")
            Label.white-text.title.bold(text="Resumen de citas", width="100%", textAlignment="center")
        StackLayout()
                RadCalendar(id="calendar", height="300")
        StackLayout.purplebackground.top-line(padding="10")
            Label.white-text.title.bold(text="Servicios solicitados", width="100%", textAlignment="center")
        StackLayout
            StackLayout(*ngFor="let service of services")
                StackLayout.menu-item(*ngIf="service.confirmed", height="130", orientation="horizontal",  (tap)="confirmService(service)")
                    StackLayout(verticalAlignment="center", width="30%")
                        Image.img-rounded([src]="service.image", width="60", height="60", stretch="aspectFill")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.white-text([text]="service.name")
                        Label.secondary-text([text]="'$' + service.price")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.white-text(text="Hace {{service.time}} minutos.")
                        Label.secondary-text(text="{{service.distance}} km")
            StackLayout(*ngFor="let service of services")
                StackLayout.menu-item(*ngIf="!service.confirmed", height="100", orientation="horizontal")
                    StackLayout(verticalAlignment="center", width="30%")
                        Image.img-rounded([src]="service.image", width="60", height="60", stretch="aspectFill")
                    StackLayout.top-line(width="40%", verticalAlignment="center")
                        Label.grey-text.subtitle([text]="service.name", horizontalAlignment="left")
                        Label.grey-text([text]="'$' + service.price", horizontalAlignment="left")
                        Label.purple-text.subtitle(verticalAlignment="center", text="Confirmar servicio", horizontalAlignment="left", (tap)="confirmService(service)")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.purple-text(text="Hace {{service.time}} minutos.")
                        Label.grey-text(text="{{service.distance}} km")
//ScrollView
    StackLayout
        StackLayout.secondary-bar(orientation="horizontal", verticalAlignment="center", (tap)="marketPlace()")
            StackLayout(width="85%", orientation="horizontal")
                Image(height="25" width="10%" src="~/assets/img/fast-delivery.png")
                Label.white-text(verticalAlignment="center", text="Market Place")
            StackLayout(width="150%", horizontalAlignment="right", verticalAlignment="center")
                Label(text="Offline", (tap)="toggleOffline()", *ngIf="!offline")
                Label(text="Online", (tap)="toggleOffline()", *ngIf="offline")
        StackLayout(*ngIf="!offline")           
            RadCalendar
            StackLayout(*ngFor="let service of services")
                StackLayout.menu-item(*ngIf="service.confirmed", height="130", orientation="horizontal",  (tap)="confirmService(service)")
                    StackLayout(verticalAlignment="center", width="30%")
                        Image.img-rounded([src]="service.image", width="60", height="60", stretch="aspectFill")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.white-text([text]="service.name")
                        Label.secondary-text([text]="'$' + service.price")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.white-text(text="Hace {{service.time}} minutos.")
                        Label.secondary-text(text="{{service.distance}} km")
            StackLayout(*ngFor="let service of services")
                StackLayout.menu-item(*ngIf="!service.confirmed", height="130", orientation="horizontal")
                    StackLayout(verticalAlignment="center", width="30%")
                        Image.img-rounded([src]="service.image", width="60", height="60", stretch="aspectFill")
                    StackLayout.top-line(width="40%", verticalAlignment="center")
                        Label.purple-text.title([text]="service.name")
                        Label.grey-text([text]="'$' + service.price")
                        Label.purple-text.subtitle(verticalAlignment="center", text="Confirmar servicio", (tap)="confirmService(service)")
                    StackLayout(width="40%", verticalAlignment="center")
                        Label.purple-text(text="Hace {{service.time}} minutos.")
                        Label.grey-text(text="{{service.distance}} km")
        StackLayout.background-blue(height="100%", marginTop="1", verticalAlignment="center", *ngIf="offline")
            Label(text="Mientras estés en modo offline no podrás ver las solicitudes realizadas.", textWrap="true")
