StackLayout(orientation="vertical")
    StackLayout.background-blue(orientation="vertical", height="30%", [style.background]="'url(\"~/assets/img/plomeria.png\")'")
        StackLayout.black-mask        
            StackLayout(orientation="horizontal", height="50%")
                StackLayout(width="15%")      
                Image(height="25" width="70%" src="~/assets/img/logoicon.png")
            StackLayout(orientation="horizontal", height="50%")
                Label.medium-text.white-text(verticalAlignment="center", horizontalAlignment="center", width="100%", style="text-align: center;", text="Reclutamiento y certificación de LUB")
    ScrollView(height="70%")
        StackLayout.form(marginTop="15", height="100%")
            Label.input-label.black-text(text="Nombre")
            TextField.full-width(
                class="input input-border",
                height=40,
                paddingBottom="5",
                paddingTop="5",
                required
                )
            Label.input-error(text="Campo requerido", *ngIf="submitted && nameField.errors?.required")
            
            Label.input-label.black-text(text="Apellido")
            TextField.full-width(
                class="input input-border",
                height=40,
                paddingBottom="5",
                paddingTop="5",
                required
                )

            Label.input-label.black-text(text="INE o RFC")
            TextField.full-width(
                class="input input-border",
                height=40,
                paddingBottom="5",
                paddingTop="5",
                required
                )

            Label.input-label.black-text(text="Email")
            TextField.full-width(
                class="input input-border",
                height=40,
                paddingBottom="5",
                paddingTop="5",
                required
                )
            
            Label.input-label.black-text(text="Celular")
            TextField.full-width(
                class="input input-border",
                height=40,
                paddingBottom="5",
                paddingTop="5",
                required
                )  
            
            Button.purple-button(text="Registrar", [nsRouterLink]="['/welcome-worker']")
            
